set autoindent
set linenumbers
set minibar
set mouse
set nohelp
set softwrap
set tabsize 4
set tabstospaces

bind ^R replace main
bind ^F whereis main
bind ^G prevword main
bind ^H nextword main

bind ^K cut main
bind ^O copy main
bind ^P paste main
bind ^W wordcount main

bind ^Z undo main
bind ^Y redo main
